<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${PRIVATE_MAVEN_USERNAME}</username>
      <password>${PRIVATE_MAVEN_PASSWORD}</password>
      <id>central</id>
    </server>
    <server>
      <username>${PRIVATE_MAVEN_USERNAME}</username>
      <password>${PRIVATE_MAVEN_PASSWORD}</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>privatemaven</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>libs-release</name>
          <url>http://artifactory.${PRIVATE_MAVEN_HOST}/artifactory/libs-release</url>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://artifactory.${PRIVATE_MAVEN_HOST}/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://artifactory.${PRIVATE_MAVEN_HOST}/artifactory/plugins-release</url>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://artifactory.${PRIVATE_MAVEN_HOST}/artifactory/plugins-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>alimaven</id>
      <repositories>
          <repository>
              <id>public</id>
              <url>https://maven.aliyun.com/repository/public</url>
              <releases><enabled>true</enabled></releases>
              <snapshots><enabled>true</enabled></snapshots>
          </repository>
      </repositories>
      <pluginRepositories>
          <pluginRepository>
              <id>public</id>
              <url>https://maven.aliyun.com/repository/public</url>
              <releases><enabled>true</enabled></releases>
              <snapshots><enabled>true</enabled></snapshots>
          </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>privatemaven</activeProfile>
    <activeProfile>alimaven</activeProfile>
  </activeProfiles>
</settings>
